[features]
seeds = false
skip-lint = false

[programs.devnet]
league_payout = "Gcmwe5hEZEqJk5JANLRUByw8rq9Nn1ti7ie6eicxPqtN"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 20000
